<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.xmlmapper.ElementMapper">
    <!--
        Mapper.xml 파일에서 사용할 수 있는 태그 엘리먼트는 총 9가지이다.
        <cache>, <cache-ref>, <resultMap>, <parameterMap>, <sql>, <select>, <insert>, <update>, <delete>
    -->

    <!--
        <cache>
        - 데이터나 값을 미리 복사해둔 임시의 장소를 의미한다.
        - 동일한 값을 DB 에서 꺼내오는 과정을 생략하고 싶을 때 사용한다.
        - 캐시 설정은 많이 반복될 작업에 적용하는 것이 효과적이다.

        <옵션>
        1. eviction : 캐시 알고리즘. 디폴트 설정 LRU
        2. flushInterval : 설정된 캐시를 얼마나 유지할지 밀리초로 설정 (1000 : 1초)
        3. size : 캐시에 저장될 객체의 수. 디폴트 설정 1024
        4. readOnly : 읽기만 가능한 경우 캐시에 저장된 데이터 변경이 되지 않음.
    -->
    <cache eviction="LRU" flushInterval="1000" size="512" readOnly="true"/>

    <select id="selectCacheTest" resultType="java.lang.String">
        SELECT MENU_NAME
          FROM TBL_MENU
    </select>

</mapper>